@model IList<CategoryModel>
@using SPS.UI.Data.Models.Category
@{

}
<ul class="mega-menu">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            @if (item.ParentCategory == null)
            {
                <li>

                    <ul>
                        <li class="mega-menu-title"><a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.Title</a></li>
                        @foreach (var itemParent in Model)
                        {
                            @if (itemParent.ParentCategory != null)
                            {
                                <li><a  asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@itemParent.Title</a></li>
                            }
                        }

                    </ul>

                </li>
            }
        }
        <li>
            <ul>
                <li class="mega-menu-img"><a href="shop.html"><img src="../assets/img/banner/banner-12.png" alt=""></a></li>
            </ul>
        </li>
    }
</ul>