@{
    ViewData["Title"] = "Order Success";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/Home">Home</a>
                </li>
                <li class="active">Checkout </li>
            </ul>
        </div>
    </div>
</div>

<div class="checkout-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2> Order Confirmed</h2>
            </div>
        </div>
    </div>
     <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2> Confirmation Email has been sent</h2>
            </div>
        </div>
    </div>
</div>